html {
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 1.5rem;
}

.nsl {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
  }
}

.list {
  padding: 0 1rem;

  li {
    margin: 0.5rem 0;
  }
}

.muted {
  color: #666;
}
