.header {
  .cover {
    height: 20rem;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #0f0f0f;

    .profile-picture {
      border-radius: 50%;
      position: relative;
      z-index: 1;
      width: 200px;
      height: 200px;
    }

    .profile-description {
      color: #fff;
      margin: 0;
      margin-left: 2rem;

      h1 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.5rem;

        .aka {
          font-weight: 300;
          font-size: 1rem;
        }
      }

      h2 {
        font-weight: 200;
        font-size: 2rem;
      }

      h3 {
        font-weight: 300;
        margin-top: 0.75rem;
      }

      .social {
        margin-top: 0.75rem;
        display: flex;
        column-gap: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .cover {
      flex-direction: column;
      height: unset;
      padding: 1rem;

      .profile-description {
        margin-left: 0;
        margin-top: 2rem;
        width: 100%;
      }
    }
  }
}