section {
  margin-bottom: 2rem;
  display: flex;
  position: relative;

  .section-description {
    flex: 1 1 100px;
  
    .sticky-content {
      position: sticky;
      top: 1.5rem;

      p {
        margin-top: 0.5rem;
        color: #222;
        font-style: italic;
      }
    }
    
  }

  .section-body {
    flex: 3;
    /* font-size: 30px; */
  }
}

