section {
  margin-bottom: 1rem;
  display: flex;
  position: relative;

  .section-description {
    min-width: 15rem;
  
    .sticky-content {
      position: sticky;
      top: 1rem;

      p {
        margin-top: 0.25rem;
        color: #222;
        font-style: italic;
      }
    }
    
  }

  .section-body {
    flex: 1;
    min-width: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .section-description {
      min-width: 0;
      margin-bottom: 1rem;
    }
  }
}

